<div class="page series" id="page">     
    <!-- wrap -->
    <header id="header">
    	<!-- HEADER HERE -->
    </header>
    
    <!-- about content -->
    <div class="container main">
        <div class="row">
        
        	<!-- left -->
	    	<div class="left col-md-8 col-sm-12">
	    		
	    		<!-- episode header -->
    			<div class="row episode-header">
                    <div class="col-md-12">
    			    	<div class="tab">Items in this Series / Collection</div>
                    </div>
    			</div>
    			
	    		<!-- player -->
	    		<div class="row player-wrap">
	    			
	    			<div id="viewer">
	    				<!-- VIDEO VIEWER HERE -->
	    			</div>
	    		</div>
	    		
	    		<!-- episode action --> 
    			<div class="row episode-action">
                    <div class="col-md-12">
                    
                    	<!-- button list -->
                        <ul class="pull-right">

                            <!-- episode link -->
                            <li class="episode-link">
                            	<div id="itempagelink"></div>
                            </li>

                            <!-- episode sort -->
                            <li class="episodes-sort hidden">
                                <a href="#"  class="hide" data-toggle="tooltip" data-placement="top" data-title="SORT DESCENDING"><i class="fa fa-sort-alpha-desc"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" data-title="SORT ASCENDING"><i class="fa fa-sort-alpha-asc"></i></a>
                            </li>
                        </ul>
                        
                        <div id="episodetitle"></div>
                    </div>
                    
    			</div>
    			
    			<div id="episodelist">
                
               </div>
                
	    	</div>
	    	
	    	<!-- right -->
	    	<div class="right col-md-4 col-sm-12">
	    		
	    		<!-- row -->
                <div class="row series-header">

                    <!-- column -->
                    <div class="col-md-12">

                        <!-- tabs-->
                        <ul class="nav nav-tabs pull-left">
            				<li class="active">Series / Collection Info</li>
            			</ul>

                        <!-- action icons -->
                        <div class="media-action">
                            <ul class="list-inline pull-right button-list">
                            
                                <!-- share buttons -->
                                <li class="share">
                                    <button data-toggle="tooltip" data-placement="bottom" data-title="SHARE THIS SERIES/COLLECTION" data-overlay="#share-content">
                                        <i class="icono icono-share"></i>
                                    </button>

                                    <!-- share item content -->
                                    <div id="social">
	                                    <!-- social here -->
	                                 </div>
                                </li>

                                <!-- bookmark button -->
                                <li class="bookmark">
                                    <button data-toggle="tooltip" data-placement="bottom" data-title="BOOKMARK" data-overlay="#bookmark-content">
                                        <i class="icono icono-bookmark"></i>
                                    </button>
                                    <div class="overlaycontent" id="bookmark-content">

                                        <!-- login form when user has not logged in -->
                                        <div id="login-form" class="hidden">
                                            <h3>SIGN IN TO BOOKMARK</h3>
                                            <div class="login-form visible">
                                                <form class="login">
                                                    <input id="bookmark-user-email" placeholder="Email" class="form-control" type="text"/>
                                                    <input id="bookmark-user-password" placeholder="Password" class="form-control" type="password" />
                                                    <input type="submit" value="LOGIN" class="btn btn-primary btn-euscreen btn-block"/>
                                                </form>
                                                <span class="extra">
                                                    <a href="forgot-password.html">Forgot password?</a> | <a href="sign-up.html">Sign up</a>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- bookmark form -->
                                        <div id="bookmark-form">
                                            <h3>ADD ITEM TO</h3>
                                            <div>
                                                <div class="list-group hidden">
                                                    <a href="#" class="list-group-item active">My first folder</a>
                                                    <a href="#" class="list-group-item ">My second folder</a>
                                                    <a href="#" class="list-group-item disabled">
                                                        <i class="fa fa-plus"></i> &nbsp; Add new folder 
                                                    </a>
                                                </div>
                                                <div class="select-wrap">
                                                    <select>
                                                        <option>My first collection</option>
                                                        <option>My second collection</option>
                                                    </select>
                                                    <i class="fa fa-chevron-down"></i>
                                                </div>
                                                <a href="#" class="folder-action">ADD NEW COLLECTION</a> 
                                                <input type="submit" value="DONE" class="btn btn-primary btn-euscreen btn-block"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div id="metadata">
	                <!--  series metadata -->
	                <div class="row series-metadata">
	                	
	                	<!-- series title -->
	                    <div class="col-md-12"><h1>This is the series title it can also be longer than one line</h1></div>
	                    
	                    <!-- series metadata -->
	                	<div class="item col-md-12 col-sm-6">
							<span class="header">ORIGINAL TITLE</span>
							<span>Lorem ipsum dolor sit amet</span>
						</div>
						<div class="item col-md-12 col-sm-6">
							<span class="header">PROVIDER</span>
							<span>Cinnecita Luce</span>
						</div>
						<div class="item col-md-12 col-sm-6">
							<span class="header">PRODUCTION YEAR</span>
							<span>1992</span>
						</div>
						<div class="item col-md-12 col-sm-6">
							<span class="header">LANGUAGE</span>
							<span>Channel V</span>
						</div>
						<div class="item col-md-12 col-sm-6">
							<span class="header">SUMMARY</span>
							<span>
								<p>
	    							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
	    							tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
	    							quis nostrud exerci tation ullamcorper suscipit lobortis
								</p>	    						
							</span>
						</div>
	                </div>
	                
	                <!-- extra information-->
	                <div id="extra-metadata" class="row collapse extra-info">
	                	<div class="item col-md-12 col-sm-6">
							<span>
								<p>
	    							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
	    							tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
	    							quis nostrud exerci tation ullamcorper suscipit lobortis
								</p>	    						
							</span>
						</div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">ALTERNATIVE SERIES / COLLECTION TITLE</span>
	                        <span>United Kingdom</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">PUBLISHER / BROADCASTER</span>
	                        <span>English</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">FIRST BROADCAST CHANNEL</span>
	                        <span>Italian</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">BROADCAST DATE</span>
	                        <span>Europe</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">LAST BROADCAST DATE</span>
	                        <span>United Kingdom</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">LAST PRODUCTION YEAR</span>
	                        <span>English</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">ORIGINAL LANGUAGE</span>
	                        <span>Italian</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">CONTRIBUTORS</span>
	                        <span>Europe</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">EXTENDED DESCRIPTION</span>
	                        <span>English</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">FURTHER INFORMATION</span>
	                        <span>Italian</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">KEYWORDS</span>
	                        <span>Europe</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">LANDING PAGE URL</span>
	                        <span>Europe</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">MATERIAL TYPE</span>
	                        <span>English</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">RECORD TYPE</span>
	                        <span>Italian</span>
	                    </div>
	                    <div class="item col-md-12 col-sm-6">
	                        <span class="header">IDENTIFIER</span>
	                        <span>Europe</span>
	                    </div>
	                </div>
	
	                <!-- results -->
	                <div class="row more">
	                    <div class="col-md-12 more-button">
	                        <a data-toggle="collapse" id="show-extra-metadata" data-target="#extra-metadata">SHOW MORE</a>
	                        <a data-toggle="collapse" id="hide-extra-metadata" data-target="#extra-metadata">SHOW LESS</a>
	                    </div>
	                </div>
               	</div>
                
                <!-- ads 2 -->
                <div class="row ads-wrap  hidden-sm hidden-xs">
                    <div id="ads">
                    	<!-- AD HERE -->
                    </div>
                </div>
	    	</div>
        </div>
    </div>
    
    
    <!-- footer -->
    <footer id="footer">
    	<!-- FOOTER HERE -->
    </footer>
</div>

<!-- nav -->
<div id="mobilenav" class="mobilenav">
	<!-- mobilenav contents here -->
</div>